{% extends "base.html" %}

{% block title %}Add Inventory{% endblock %}

{% block content %}
<button onclick="history.back()">Back</button>

<h1>Add new inventory</h1>

{% if submitted %}
    <p class="success">
         New inventory was submitted successfully. Thank you.
    </p>
    <p><a href="/">Go back home</a></p>

{% else %}
    <form action="" method="post" novalidate>
         {% csrf_token %}
        <table>
            {{ form.as_table }}
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>

{% endif %}
{% endblock %}