{% extends "base.html" %}

{% block title %}Show inventory detail{% endblock %}

{% block content %}
<!--<button onclick="history.back()">Back</button>
<button onclick="location.href='/'">Back Home</button>
<button onclick="location.href='.'">Back Inventory List</button>-->
<a href="javascript:history.back()">Back</a> |
<a href="{% url 'inventory-list' %}">Inventory List</a> |
<a href="{% url 'index' %}">Home</a>
<!--<a href="{% url 'inventory-list' %}">Back Inventory List</a>-->
<header>
<h1>Show inventory detail</h1>
</header>
<table>
    <td>
        <tr><td><strong>Inventory ID:</strong></td><td>{{inventory.inventory_id}}</td></tr>
        <tr><td><strong>SKU:</strong></td><td>{{inventory.sku}}</td></tr>
        <tr><td><strong>Make:</strong></td><td>{{inventory.make}}</td></tr>
        <tr><td><strong>Model:</strong></td><td>{{inventory.model}}</td></tr>
        <tr><td><strong>Bin Aisle:</strong></td><td>{{inventory.bin_aisle}}</td></tr>
        <tr><td><strong>Bin Bay</strong></td><td>{{inventory.bin_bay}}</td></tr>
        <tr><td><strong>Quantity:</strong></td><td>{{inventory.quantity}}</td></tr>
        <tr><td><strong>Cost:</strong></td><td>{{inventory.inv_cost}}</td></tr>
        <tr><td><strong>Price:</strong></td><td>{{inventory.inv_price}}</td></tr>
        <tr><td><strong>Description:</strong></td><td>{{inventory.inv_desc}}</td></tr>
    </td>
</table>

{% endblock %}
