{% extends "base.html" %}

{% block title %}Show inventories data{% endblock %}

{% block content %}
<!--<button onclick="history.back()">Back</button>
<button onclick="location.href='/'">Back Home</button>-->
<a href="javascript:history.back()">Back</a> |
<a href="{% url 'index' %}">Home</a>

<header>
<h1>Show inventories data</h1>
</header>
<!--<form action="" class="search-form">
  <div class="form-group">
    <input type="text" name='q' placeholder="What are you looking for?">
    <button type="submit" class="submit" value="Submit"><i class="icon-search"></i></button>
  </div>
</form>-->

<table>
    <tr>
        <th>Inventory ID</th>
        <th>Make</th>
        <th>Model</th>
    </tr>

{% for inventory in object_list %}
    <tr>
        <td>{{inventory.inventory_id}}</td>
        <td>{{inventory.make}}</td>
        <td>{{inventory.model}}</td>
        <td><a href="{{inventory.inventory_id}}">View</a></td>
        <td><a href="inventory_update/{{inventory.inventory_id}}">Update</a></td>
        <td><a href="inventory_confirm_delete/{{inventory.inventory_id}}">Delete</a></td>
    </tr>
{% empty %}
    <li>No inventories yet.</li>
{% endfor %}
</table>
{% endblock %}








