<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    -->
    <title> {% block title %}{% endblock %} </title>
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript.js' %}"></script>
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>
<body>
<div id="'wrapper">
<div class="container">
   <!--<div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
            </div>
      </div>
    </div>-->
    {% block content %}{% endblock %}

{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
    {% else %}
      <span>&laquo;</span>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
      <span>{{ i }}</span>
      {% else %}
        <a href="?page={{ i }}">{{ i }}</a>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
    {% else %}
      <span>&raquo;</span>
    {% endif %}
  </ul>
{% endif %}
</div>
</div>
</body>
</html>

