{% extends "base.html" %}

{% block title %}Show employees data{% endblock %}

{% block content %}
<h1>Show employees data</h1>

{% for employee in object_list %}
    <!--<p>{{ article.headline }}</p>
    <p>By {{ article.reporter.full_name }}</p>
    <p>Published {{ article.pub_date|date:"F j, Y" }}</p>-->
    Employee ID: {{employee.emp_id}}  <br/>
    Title: {{employee.title}} <br/>
    First Name: {{employee.fname}}  <br/>
    Last Name: {{employee.lname}}  <br/>
    Birthday: {{employee.dob}}  <br/>
    Email: {{employee.email}}  <br/>
    Phone: {{employee.phone}}  <br/>
    City: {{employee.city}}  <br/>
    <br/>
{% empty %}
    <li>No employees yet.</li>
{% endfor %}
{% endblock %}

