<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Prime Mobile Inc.</title>
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
{% if user.is_authenticated %}
<div class="bigcontainer">
<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}">Prime Mobile ERP</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'erp-logout' %}">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <br>
      <img src="{% static 'images/PrimeMobileLogo.png' %}" alt="Logo" style="width:150px;height:150px;">
        <br>
      <ul class="nav nav-pills nav-stacked">
           <br>
          <li><a href="{% url 'erp-logout' %}">Logout</a></li>
      </ul><br>
    </div>
    <br>

    <div class="col-sm-9">
      <div class="well">
        {% if user.first_name != "" %}
        <h4>Hi {{ user.first_name }}!</h4>
        {% else %}
        <h4>Hi {{ user.username }}!</h4>
        {% endif %}
        <p></p>
      </div>
       {% if user.is_staff %}
      <div class="row">
        <div class="col-sm-4">
          <div class="well">
            <h4>Employees</h4>
            <p><a href="{% url 'add-employee' %}">Create</a></p>
            <p><a href="{% url 'employee-list' %}">View</a></p>
            <p><a href="{% url 'search-employee-form' %}">Search</a></p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <h4>Customers</h4>
            <p><a href="{% url 'add-customer' %}">Create</a></p>
            <p><a href="{% url 'customer-list' %}">View</a></p>
            <p><a href="{% url 'search-customer-form' %}">Search</a></p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <h4>Inventories</h4>
            <p><a href="{% url 'add-inventory' %}">Create</a></p>
            <p><a href="{% url 'inventory-list' %}">View</a></p>
            <p><a href="{% url 'search-inventory-form' %}">Search</a></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="well">
            <h4>Orders</h4>
            <p><a href="{% url 'order-create' %}">Create</a></p>
            <p><a href="{% url 'order-list' %}">View</a></p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <h4>Invoices</h4>
            <p><a href="{% url 'invoice-list' %}">View</a></p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <h4>User Admin</h4>
            <p><a href="../admin/auth/user/">To Admin Site</a></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="well">
            <h4>Reports</h4>
            <!--<p><a href="../admin/explorer/query/">View</a></p>-->
            <p><a href="{% url 'report' %}">View</a></p>
            <p><a href="../admin/explorer/query/">Report Explorer</a></p>
          </div>
        </div>
      </div>

      {% else %}
      <div class="row">
        <div class="col-sm-4">
          <div class="well">
            <h4>Employees</h4>
            <p><a href="{% url 'employee-list' %}">View</a></p>
            <p><a href="{% url 'search-employee-form' %}">Search</a></p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <h4>Customers</h4>
            <p><a href="{% url 'add-customer' %}">Create</a></p>
            <p><a href="{% url 'customer-list' %}">View</a></p>
            <p><a href="{% url 'search-customer-form' %}">Search</a></p>
          </div>
        </div>
         <div class="col-sm-4">
          <div class="well">
            <h4>Inventories</h4>
            <p><a href="{% url 'add-inventory' %}">Create</a></p>
            <p><a href="{% url 'inventory-list' %}">View</a></p>
            <p><a href="{% url 'search-inventory-form' %}">Search</a></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="well">
            <h4>Orders</h4>
            <p><a href="{% url 'order-create' %}">Create</a></p>
            <p><a href="{% url 'order-list' %}">View</a></p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <h4>Invoices</h4>
            <p><a href="{% url 'invoice-list' %}">View</a></p>
          </div>
        </div>
    </div>
      {% endif %}
  </div>
  </div>
  <br><br>
  <footer>
        <p><small>Copyright © 2019. All rights reserved.</small></p>
  </footer>
</div>
{% else %}
  <div id="notlogin">
    <img src="{% static 'images/PrimeMobileLogo.png' %}" alt="Logo" style="width:150px;height:150px;" class="center">
    <p>You are not logged in. Please log in and try again.</p>
    <a href="{% url 'erp-login' %}">Login</a>
  </div>
{% endif %}
</div>
</body>

</html>

