<html>
<head>
    <title>Login</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">Prime Mobile Inc. Login</div>
            <div class="panel-body">
                {% block content %}
                {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
                {% endif %}
                {% if next %}
                {% if user.is_authenticated %}
                <p>Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.</p>
                {% else %}
                <p>Please login to see this page.</p>
                {% endif %}
                {% endif %}
                <form method="post" action="{% url 'erp-login' %}">{% csrf_token %}
                    <table>
                        <tr>
                            <td>{{ form.username.label_tag }}&nbsp</td>
                            <td>{{ form.username }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.password.label_tag }}&nbsp</td>
                            <td>{{ form.password }}</td>
                        </tr>
                    </table>
                    <input type="submit" value="Login" />
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>
                {# Assumes you setup the password_reset view in your URLconf #}
                <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
                {% endblock %}
            </div>
        </div>
    </div>
</div>
</body>
</html>