{% extends "base.html" %}

{% block title %}Show orders data{% endblock %}

{% block content %}
<button onclick="history.back()">Back</button>
<button onclick="location.href='/'">Back Home</button>

<h1>Show orders data</h1>

<table>
    <tr>
        <th>Order ID</th>
        <th>Order Time</th>
        <th>Status</th>
        <th>Customer Name</th>
    </tr>

{% for order in object_list %}
    <tr>
        <td>{{order.order_id}}</td>
        <td>{{order.order_dt}}</td>
        <td>{{order.status}}</td>
        <td>{{order.cust}}</td>
        <td><a href="{{order.order_id}}">View</a></td>
        <td><a href="order_update/{{order.order_id}}">Update</a></td>
    </tr>
{% empty %}
    <li>No orders yet.</li>
{% endfor %}
</table>
{% endblock %}








