{% extends "base.html" %}

{% block title %}Show employees data{% endblock %}

{% block content %}
<!--<button onclick="history.back()">Back</button>
<button onclick="location.href='/'">Back Home</button>-->
<a href="javascript:history.back()">Back</a> |
<a href="{% url 'index' %}">Home</a>

<header>
<h1>Show employees data</h1>
</header>
<!--<form action="" class="search-form">
  <div class="form-group">
    <input type="text" name='q' placeholder="What are you looking for?">
    <button type="submit" class="submit" value="Submit"><i class="icon-search"></i></button>
  </div>
</form>-->

<table>
    <tr>
        <th>Emp ID</th>
        <th>Title</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>

{% for employee in object_list %}
    <tr>
        <td>{{employee.emp_id}}</td>
        <td>{{employee.title}}</td>
        <td>{{employee.fname}}</td>
        <td>{{employee.lname}}</td>
        <td><a href="{{employee.emp_id}}">View</a></td>
        <td><a href="employee_update/{{employee.emp_id}}">Update</a></td>
        {% if employee.title != "Owner" and employee.title != "Manager" %}
             <td><a href="employee_confirm_delete/{{employee.emp_id}}">Delete</a></td>
        {% endif %}
    </tr>
{% empty %}
    <li>No employees yet.</li>
{% endfor %}
</table>
{% endblock %}



