{% extends "base.html" %}

{% block title %}Show accounts data{% endblock %}

{% block content %}
<button onclick="history.back()">Back</button>
<button onclick="location.href='/'">Back Home</button>

<h1>Show accounts data</h1>

<table>
    <tr>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Superuser</th>
        <th>Staff</th>
        <th>Emp ID</th>
    </tr>

{% for user in object_list %}
    <tr>
        <td>{{user.account.username}}</td>
        <td>{{user.account.first_name}}</td>
        <td>{{user.account.account.last_name}}</td>
        <!--<td>{{user.account.email}}</td>
        -<td>{{account.password}}</td>
        <td>{{user.account.groups}}</td>
        <td>{{user.account.user_permissions}}</td>-->
        <td>{{user.account.is_staff}}</td>
        <!--<td>{{user.account.is_active}}</td>-->
        <td>{{user.account.is_superuser}}</td>
        <!--<td>{{user.account.last_login}}</td>
        <td>{{user.account.date_joined}}</td>-->
        <td>{{user.emp_id}}</td>
        <td><a href="{{account.acct_id}}">View</a></td>
        <td><a href="account_update/{{account.acct_id}}">Update</a></td>
        {% if account.acct_type != "Administrator" %}
            <td><a href="account_confirm_delete/{{account.acct_id}}">Delete</a></td>
        {% endif %}
    </tr>
{% empty %}
    <li>No accounts yet.</li>
{% endfor %}
</table>
{% endblock %}


