{% extends "base.html" %}

{% block title %}Show invoices data{% endblock %}

{% block content %}
<a href="javascript:history.back()">Back</a> |
<a href="{% url 'index' %}">Home</a>

<header>
<h1>Show invoices data</h1>
</header>
<table>
    {% if object_list|length > 0 %}
    <tr>
        <th>Invoice ID</th>
        <th>Invoice Time</th>
        <th>Invoice Number</th>
        <th>Payment Type</th>
        <th>Employee</th>
        <th>Customer</th>
    </tr>
     {% endif %}

{% for invoice in object_list %}
    <tr>
        <td>{{invoice.invoice_id}}</td>
        <td>{{invoice.invoice_dt}}</td>
        <td>{{invoice.invoice_num}}</td>
        <td>{{invoice.pay_type}}</td>
        <td>{{invoice.emp}}</td>
        <td>{{invoice.cust.fname}} {{invoice.cust.lname}}</td>
        <td><a href="{{invoice.invoice_id}}">View</a></td>
    </tr>
{% empty %}
    <li>No orders yet.</li>
{% endfor %}
</table>
{% endblock %}




