{% extends "base.html" %}

{% block title %}Show invoice detail{% endblock %}

{% block content %}
<a href="javascript:history.back()">Back</a> |
<a href="{% url 'invoice-list' %}">Invoice List</a> |
<a href="{% url 'index' %}">Home</a>

<header>
<h1>Show invoice detail</h1>
</header>
<table>
    <td>
        <tr><td><strong>Invoice ID:</strong></td><td>{{invoice.invoice_id}}</td></tr>
        <tr><td><strong>Invoice Time:</strong></td><td>{{invoice.invoice_dt}}</td></tr>
        <tr><td><strong>Invoice Number:</strong></td><td>{{invoice.invoice_num}}</td></tr>
        <tr><td><strong>Payment Type:</strong></td><td>{{invoice.pay_type}}</td></tr>
        <tr><td><strong>Employee:</strong></td><td>{{invoice.emp.fname}} {{invoice.emp.lname}}</td></tr>
        <tr><td><strong>Customer:</strong></td><td>{{invoice.cust.fname}} {{invoice.cust.lname}}</td></tr>
        <tr><td><strong>Inventory:</strong></td><!--<td>{{order.inventory.make}} {{order.inventory.model}}</td>--></tr>
        <tr><td><strong>Quantity:</strong></td><!--<td>{{order.quantity}}</td>--></tr>
    </td>
</table>

{% endblock %}
