{% extends "base.html" %}

{% block title %}Show invoice detail{% endblock %}

{% block content %}
<a href="javascript:history.back()">Back</a> |
<a href="{% url 'invoice-list' %}">Invoice List</a> |
<a href="{% url 'index' %}">Home</a>

<header>
<h1>Show invoice detail</h1>
</header>
<table>
    <td>
        <tr><td><strong>Invoice ID:</strong></td><td>{{invoice.invoice_id}}</td></tr>
        <tr><td><strong>Invoice Time:</strong></td><td>{{invoice.invoice_dt}}</td></tr>
        <tr><td><strong>Invoice Number:</strong></td><td>{{invoice.invoice_num}}</td></tr>
        <tr><td><strong>Status:</strong></td><td>{{invoice.status}}</td></tr>
        <tr><td><strong>Payment Type:</strong></td><td>{{invoice.pay_type}}</td></tr>
        <tr><td><strong>Employee:</strong></td><td>{{invoice.emp.fname}} {{invoice.emp.lname}}</td></tr>
        <tr><td><strong>Customer:</strong></td><td>{{invoice.cust.fname}} {{invoice.cust.lname}}</td></tr>

        {% for order_detail in order_details %}
        <tr><td><strong>Item:</strong></td><td>{{order_detail.inventory}} </td>
            <td><strong>Quantity:</strong></td><td>{{order_detail.quantity}}</td></tr>
        {% endfor %}

        <tr><td><strong>Subtotal:</strong></td><td style="float:right">{{invoice.total_price}}</td></tr>
        <tr><td><strong>Tax:</strong></td><td style="float:right">{{invoice.tax}}</td></tr>
        <tr><td><strong>Total Price:</strong></td><td style="float:right">{{invoice.grand_total}} </td></tr>
</table>

{% endblock %}
