{% extends "base.html" %}

{% block title %}Show account detail{% endblock %}

{% block content %}
<button onclick="history.back()">Back</button>
<button onclick="location.href='/'">Back Home</button>
<button onclick="location.href='.'">Back Account List</button>
<!--<a href="{% url 'account-list' %}">Back Account List</a>-->

<h1>Show account detail</h1>

<table>
    <td>
        <tr><td><strong>Account ID:</strong></td><td>{{account.acct_id}}</td></tr>
        <tr><td><strong>Account Type:</strong></td><td>{{account.acct_type}}</td></tr>
        <tr><td><strong>Username:</strong></td><td>{{account.username}}</td></tr>
        <tr><td><strong>Employee ID:</strong></td><td>{{account.emp.emp_id}}</td></tr>
        <tr><td><strong>Employee Name:</strong></td><td>{{account.emp}}</td></tr>
    </td>
</table>

{% endblock %}
