{% extends "base.html" %}

{% block title %}Show accounts data{% endblock %}

{% block content %}
<button onclick="history.back()">Back</button>
<button onclick="location.href='/'">Back Home</button>

<h1>Show accounts data</h1>

<table>
    <tr>
        <th>Acct ID</th>
        <th>Type</th>
        <th>Username</th>
    </tr>

{% for account in object_list %}
    <tr>
        <td>{{account.acct_id}}</td>
        <td>{{account.acct_type}}</td>
        <td>{{account.username}}</td>
        <td><a href="{{account.acct_id}}">View</a></td>
        <td><a href="account_update/{{account.acct_id}}">Update</a></td>
        {% if account.acct_type != "Administrator" %}
            <td><a href="account_confirm_delete/{{account.acct_id}}">Delete</a></td>
        {% endif %}
    </tr>
{% empty %}
    <li>No accounts yet.</li>
{% endfor %}
</table>
{% endblock %}


