{% extends "base.html" %}

{% block title %}Product List{% endblock %}

{% block content %}

<header>
    <h1>Product List</h1>
    <h3>Step 2: Select Inventories / Products</h3>
</header>

<div id="product-list">
    {% for product in object_list %}
        <div id="detail">
            <form name="order-detail-{{product.inventory_id}}">
                <fieldset  class="fieldset-auto-width" style="width: 50%">
                    <legend>order-detail-{{product.inventory_id}}</legend>
                    <span><a href="../inventories/{{product.inventory_id}}">{{ product }}</a></span>
                    <br>
                    <span>Price: {{ product.inv_price }}</span>
                    <br>
                    <span>Available Qty: {{ product.quantity }}</span>
                    <br>
                    {% if product.quantity != 0 %}
                    <span style="float: right;">Quantity: <input type="number" name="quantity" min="1" max="{{ product.quantity }}" >
                    <input type="submit" value="Add to Cart" style="float: right;"></span>
                    {% else %}
                    <span style="color:sienna;">This item is currently unavailable.</span>
                {% comment %}
                <!--<a href="{% url 'shopping_cart:add_to_cart' object.id %}" class="btn btn-warning">Add to Cart</a>-->
                {% endcomment %}
                    {% endif %}
                </fieldset>
            </form>
        </div>
    {% endfor %}
</div>
{% endblock %}








