{% extends "base.html" %}

{% block title %}Update customer data{% endblock %}

{% block content %}
<!--<button onclick="history.back()">Back</button>
<button onclick="location.href='/'">Back Home</button>-->
<a href="javascript:history.back()">Back</a> |
<a href="{% url 'index' %}">Home</a>

<header>
<h1>Update customer data</h1>
</header>
<form method="post">{% csrf_token %}
    <p>If you want to update DOB, please contact admin.</p>
    <table>
        {{ form.as_table }}
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="button" value="Cancel" onclick="history.back()">
                <input type="submit" value="Update">
            </td>
        </tr>
    </table>
</form>

{% endblock %}