/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px}

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }

    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;}
    }

    #notlogin {
      #width: 80%;
	  text-align: center;
	  margin: auto auto;
	  padding: 5% 5%;
	  font-size: 1.5em;
	  display: block;
      width: 50%;
    }

    footer {
	  font-size: 90%;
	  padding: 2% 5%;
	  #background: #f1f1f1;
	  #border-top: .3em solid #999;
    }
    footer p {
	  margin: .8em .8em;
    }
    #.bigcontainer {
    #  background-color: #f1f1f1;
    #}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}