/************** Print **************/
@media print{
.no-print {
	display: none !important;
}
}

/************** Header **************/
header h1 {
	font: bold small-caps 2em Tahoma, Arial, sans-serif;
}

/************** Body **************/
#wrapper {
	width: 80%;
	text-align: left;
	margin: auto auto;
}

.container {
	padding: 2% 7% 5% 7%;
}

body {
    padding: 2% 15% 0 15%;
}
body p { font:1.1em/1.6em Arial, Tahoma, sans-serif; }
body a {
	#font-weight: bold;
	text-decoration: none;
}

body a:hover, body a:focus {
	text-decoration: underline;
}

.logout {
      text-align: center;
	  margin: auto auto;
	  padding: 5% 5%;
	  font-size: 1.2em;
	  display: block;
      width: 50%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.required label:after {
    content: "*";
}



